/* styles.css lub app.component.css */
.container {
    margin-top: 20px;
  }
  
  .row {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  
  .col-md-4, .col-md-8 {
    padding: 10px;
    background-color: #f8f9fa; 
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  }
  
  .col-md-4 {
    margin-bottom: 20px;
  }
  
  .col-md-8 {
    margin-bottom: 20px;
  }
  